@import url(./styles/swiper.css);
@import url(./styles/smallScreen.css);
@import url(./styles/bigScreen.css);
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.5),
  rgba(0,0,0,0.5)), url(../img/main-bg.jpg);
  background-size: cover;
  background-position: center;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 30px;
}
.header {
  width: 100%;
  margin: 0;
}
.navi {
  display: flex;
  justify-content: space-between;
}
.logo_wrapper {
  display: table;
  height: inherit;
  background-color: #ecf0f1;
}
.logo {
  max-width: 310px;
  height: auto;
  display: block;
}
.left_wrapper {
  padding-left: 20px;
  height: 100px;
}
.menu_wrapper {
  padding-left: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100%;
}
.menu_wrapper li {
  list-style-type: none;
}
.menu_item {
  text-decoration: none;
  margin: 0 20px;
  color: #ffffff;
  font-weight: 600;
  font-family: 'Roboto',Arial,sans-serif;
  font-size: 16px;
}
.right_wrapper {
  padding-right: 40px;
  height: 100px;
  display: flex;
}
.language {
  display: flex;
  align-items: center;
}
.change-lang {
  display: block;
  margin: 0;
  width: 50px;
  height: 25px;
  left: 100px;
}
.top_links {
  height: 100px;
  display: flex;
  align-items: center;
}
.link_wrapper {
  display: flex;
  align-items: center;
}
.top_links-item {
  width: 35px;
  height: 35px;
  padding: 0 5px;
}
.top_links-item a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.top {
  color: #fff;
  font-size: 30px;
  font-style: normal;
}

.top_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.row-head span {
  font-family: Roboto;
  font-size: 42px;
  line-height: 42px;
  font-weight: 600;
  letter-spacing: 1px;
  transition-delay: 0s;
  color: #fff
}
.row-head div {
  text-align: center;
  line-height: 20px;
  font-size: 26px;
  color: #fff
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 250px;
  margin-top: 45px;
  background-color: rgb(52, 13, 250);
  border-radius: 3px;
  text-transform: uppercase;
  box-shadow: rgb(0 0 0 / 30%) 0px 0px 20px 0px;
  transition-delay: 0.8s;
}
.button a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 700;
}
/*пересмотреть код выше*/
.text-about p {
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.45;
}
.photo-about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.photo-wraper {
  margin: 10px;
}
.services {
  text-align: center;
}
.services-top {
padding-top: 90px;
padding-bottom: 120px;
}
.servic-wrapper {
  text-align: center;
}
.servic-wrapper img {
  width: 90px;
  height: auto;
}
.servic-wrapper p {
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.45;
}
.quote {
  width: 100%;
  height: 560px;
  display: flex;
  align-items: center;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url("https://thumb.tildacdn.com/tild6433-6564-4637-a664-633236363765/-/cover/1027x560/center/center/-/format/webp/blob.png");
  background-size: cover;
  background-position: center center;
}
.ivent-title p {
  font-family: "Roboto", Arial, sans-serif;
  color: #000;
}
.ivent-date {
  color: #ff8562;
  font-family: "Roboto", Arial, sans-serif;
}
.ivent-btn {
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  text-align: center;
  height: 45px;
  font-size: 14px;
  font-weight: 700;
  padding: 0px 20px;
  margin-top: 15px;
  color: #ffffff;
  background-color: #1f5bff;
  box-sizing: border-box;
  border-radius: 22.5px;
}
.ivent-btn span {
  position: relative;
  top: 10px;
}
.quadro_photo {
  background-color: #f2f2f2;
}
.subscribe-wraper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9)),
    url("	https://thumb.tildacdn.com/tild3964-3831-4932-b334-336562653062/-/format/webp/blob.png");
  background-size: cover;
  background-position: center center;
}
.subscribe {
  padding: 0 20px;
  text-align: center;
}
.subscribe h1 {
  color: #fff;
  margin-bottom: 32px;
  line-height: 1.23;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 600;
}
.input-wraper input {
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  outline: none;
  background-color: transparent;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.33;
  box-sizing: border-box;
  outline: none;
}
.subscribe-btn {
  display: block;
  height: 100%;
}
.subscribe-btn button {
  color: #ffffff;
  background-color: #f5914f;
  text-align: center;
  border: 0 none;
  border-radius: 3px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
}
footer {
  padding: 90px 0px;
}
.contacts {
  text-align: center;
}
.our {
  margin-bottom: 45px;
  /* font-size: 12px; */
  line-height: 1.35;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 600;
  color: #000;
}
.our-numb {
  /* font-size: 28px; */
  line-height: 1.23;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 600;
}
.we-social {
  margin-top: 45px;
  /* font-size: 14px; */
  line-height: 1.45;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
}
.sociallinks {
  margin-top: 40px;
}
.sociallinks-item {
  vertical-align: center;
  width: 50px;
  height: 50px;
  margin: 4px 1px 0;
  display: inline-block;
}
.sociallinks-item a {
  text-decoration: none;
  width: 100%;
  height: 100%;
}
